html,
body {
  height: 100%;
  margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.field {
    background: rgb(12, 136, 78);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 750px;
    height: 600px;
}
button{
  width: 200px;
  height: 50px;
  border: yellow 1px solid;
  border-radius: 15px;
  color: rgb(7, 41, 30);
  margin-bottom: 15px;
}